.product-page .main-image img {
    height: 350px;
    object-fit: contain;
    border-radius: 5px;
}

.product-page .small-images img {
    height: 8rem;
    object-fit: contain;
}

.product-page .img-thumbnail {
    border-radius: 0px;
}

.product-page .content h1 {
    font-size: 2rem;
    color: var(--color-navblue);
    color: #2e3f97;
    max-width: 90%;
}

.product-page .content .category {
    padding: 2px 5px;
    border-radius: 5px;
    background: var(--color-orange);
    color: white;
}

.product-page .content .prices {
    align-items: baseline;
}

.product-page .content .prices h2 {
    color: red;
    color: var(--color-navblue);
}

.product-page .content del {
    text-decoration: line-through;
    color: red;
}

.product-page .content .off {
    margin-left: 0.5rem;
    /* color: var(--color-navblue); */
}

.product-page ol li {
    list-style-type: disc;
}

.product-page .btns {
    align-items: center;
    margin-bottom: 1rem;
}


.product-page .quantity-control {
    border: 1px solid var(--color-navblue);
    background: var(--color-navblue);
}

.product-page .quantity-control button {
    padding: 0.2rem 1rem;
    border: none;
    outline: none;
    background: var(--color-navblue);
    color: white;
    font-size: 1.3rem;
}
.product-page .quantity-control span{
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 600;
}



.product-page .flex.pg-btns{
    max-width: 80%;
    margin-bottom: 1rem;
}
.product-page .flex.pg-btns button ,
.product-page .flex.pg-btns a{
    width: 50%;
}

.hover-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* background: #183153; */
    background: var(--color-navblue);
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
}

.hover-btn:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.hover-btn:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.hover-btn span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 0.8rem 0.5rem;
    color: #fff;
    font-size: 1.125em;
    font-weight: 600;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.hover-btn:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}






/* ------------------  */




@media only screen and (max-width: 768px) {
    .product-page .content h1 {
        font-size: 1.6rem;
        color: var(--color-navblue);
        color: #2e3f97;
        max-width: 100%;
    }

    .product-page .content p {
        text-align: justify;
    }
}

@media only screen and (max-width: 450px) {
    .product-page .flex.pg-btns {
        max-width: 100%;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        }
        .product-page .flex.pg-btns button, .product-page .flex.pg-btns a {
            width: 100%;
        }
    .product-page .main-image img {
        height: 250px;
        object-fit: contain;
        border: 1px solid var(--color-grey);
    }

    .product-page .small-images img {
        height: 6rem;
        object-fit: contain;
    }
}