.profile-page .profile img{
    border-radius: 50%;
    object-fit: cover;
    height: 15rem;
    width: auto;
    margin-bottom: 0.5rem;
}

.profile-page .profile h4{
    text-transform: uppercase;
    font-size: 1.2rem;
}























