header{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 50;
    background: white;
    transition: var(--transition-3);
}
header.fixed-top{
    border-bottom: 1px solid var(--color-main);
    transition: var(--transition-4);
}
header .header-top p{
    margin-bottom: 0rem;
    background: var(--color-main);
    display: none;
}
header .header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    /* background: var(--bg-white); */
}

header .header-navbar .logo img{
    height: 70px;
    width: auto;
    object-fit: contain;
}

header .search-bar{
    border: 1px solid var(--color-black-light);
    border: 1px solid var(--color-main);
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 40%;
    padding: 0.5rem;
}
header .search-bar input{
    outline: none;
    border: none;
    width: 95%;
    border-right: 1px solid var(--bg-white);
    background: transparent;
}
header .search-bar i{
    width: 5%;
    cursor: pointer;
    color: var(--color-main);
}
header .icons .cre{
    color: var(--color-main);
    font-weight: 500;
}
header .icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
header .icons .icon{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    color: inherit;
    text-decoration: none;
}
header .icons .icon i{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-main-light);
}
header .icons .icon .cart-numb{
    position: absolute;
    top: -20%;
    left: 50%;
    color: white;
    background: var(--color-main);
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    /* display: none; */
}



/* --------- side-navbar --------  */

.side-navbar{
    position: fixed;
    min-height: 100vh;
    width: 350px;
    top: 0;
    bottom: 0;
    right: -400px;
    /* background: #f1f1f1; */
    background: #fff;
    z-index: 2000;
    padding: 1rem;
    transition: var(--transition-3);
}
.side-navbar.active{
    right: 0px;
}
.side-navbar .closeSidebar{
    text-align: end;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--color-navblue);
    cursor: pointer;
}



.side-navbar nav ul{
    padding-left: 0rem;
    max-height: 70vh;
    overflow-y: auto;
}
.side-navbar nav ul::-webkit-scrollbar {
    width: 5px;
}
.side-navbar nav ul::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.side-navbar nav ul::-webkit-scrollbar-thumb {
    background: var(--color-main); 
}
.side-navbar nav ul::-webkit-scrollbar-thumb:hover {
    background: #f3b394; 
}

.side-navbar ul li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-navblue);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--color-navblue);
    text-decoration: none;
    transition: var(--transition-3);
}
.side-navbar ul li a i{
    padding-right: 1.5rem;
    font-size: 1.1rem;
    transition: var(--transition-3);
}
.side-navbar ul li a:hover{
    opacity: 0.9;
}
.side-navbar ul li a:hover i{
    font-size: 1.3rem;
    padding-right: 0.5rem;
}






.side-navbar .bottom-nav{
    position: fixed;
    /* bottom: 2%; */
    width: 100%;
    max-width: 320px;
    padding: 0.2rem;
}
.side-navbar .bottom-nav .profile{
    /* display: flex;
    align-items: center;
    gap: 1rem; */
    /* border-top: 1px solid var(--color-black-light); */
    padding-top: 0.5rem;
    width: 100%;
}
.side-navbar .bottom-nav img{
    height: 70px;
    width: 70px;
}
.side-navbar .bottom-nav .profile .detail h5{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-transform: capitalize;
}
.side-navbar .bottom-nav .profile .detail a{
    background: var(--color-navblue);
    padding: 0.2rem;
    width: 100%;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: var(--transition-3);
}
.side-navbar .bottom-nav .profile .detail a:hover{
    background: var(--color-main-light);
}
.side-navbar .social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.side-navbar .social-icons a {
    border: 1px solid var(--color-navblue);
    border-radius: 50%;
    color: var(--color-navblue);
    display: grid;
    height: 2.2rem;
    place-items: center;
    text-decoration: none;
    transition: var(--transition-3);
    width: 2.2rem;
}

@media only screen and (max-width: 800px){
    header{
        background: var(--bg-white);
    }
    header .header-navbar {
        padding: 1rem 2rem;
        flex-wrap: wrap;
    }
    header .search-bar {
        flex-grow: 1;
        order: 2;
        flex-basis: 100%;
        margin-top: 1rem;
    }
    .header-navbar .logo,
    .header-navbar .icons{
        flex-basis: 50%;
    }
    .header-navbar .icons{
        justify-content: end;
    }
}
@media only screen and (max-width: 580px){
    header .header-navbar .logo img {
        height: 50px;
    }
}
@media only screen and (max-width: 450px){
    header .header-navbar .logo img {
        height: 2.2rem;
    }
    .header-navbar .logo{
        flex-basis: 38%;
    }
    .header-navbar .icons {
        flex-basis: 58%;
    }
}

@media only screen and (max-width: 420px){
    header .header-navbar {
        padding: 1rem 1rem;
    }
    .side-navbar{
        position: fixed;
        min-height: 100vh;
        width: 80vw;
        top: 0;
        bottom: 0;
        right: -80vw;
        padding: 1rem;
    }
    .side-navbar.active{
        right: 0vw;
    }
    .side-navbar .bottom-nav {
        position: fixed;
        bottom: 2%;
        width: 100%;
        max-width: 70vw;
        padding: 0.2rem;
    }
}













