
/* ----------    PAYMENT SECTION    -------------------  */
.payment {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid var(--border-color-1);
    margin: 15px 40px;
    padding: 1rem;
    /* background: var(--bg-white); */
  }
  
  .payment_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center;
    line-height: 1.5rem;
  }
  
  .payment_1 i {
    color: var(--color-orange);
    font-size: 1.3rem;
  }
  
  .payment_1 h5 {
    color: var(--color-navblue);
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  
  .payment_1 p {
    font-size: 0.7rem;
  }
  
  .payment_1 .queri_btn {
    border-radius: 4px;
    border: 1px solid var(--color-orange);
    padding: 12px 20px;
    display: inline-block;
    color: var(--color-orange);
    transition: 0.3s;
    margin-bottom: 0.5rem;
  }
  
  .payment_1 .queri_btn:hover {
    color: white;
    background: var(--color-orange);
  }
  
  .payment_2 {
    border-top: 1px solid var(--border-color-1);
    padding: 1rem;
  }
  
  .payment_2 h6 {
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-orange);
  }
  
  .payment_2 p {
    color: var(--color-navblue);
  }
  
  .payment_2 img {
    height: auto;
    width: 60%;
  }
  
  @media (max-width:799px) {
    .payment_1 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
      text-align: center;
      line-height: 1.5rem;
      margin-bottom: 1rem;
    }
  
    .payment_2 img {
      height: auto;
      width: 100%;
    }
  
    .payment_2 p {
      font-size: 0.8rem;
    }
    .payment {
      margin: 15px 10px;
  }
  }